{% load static %}
<footer>
  <img src=" {% static 'img/logo.png' %}" />
  <ul>
    <li>
      <a href="https://tnlcomputer.com.ar" target="_blank">Página web</a>
    </li>
    <li>
      <a href="https://sanlorenzo.com.ar/" target="_blank"
        >Club de mis amores</a
      >
    </li>
    <li>
      <a href=""></a>
    </li>
  </ul>
  <ul>
    <li><a href=" {% url 'index' %}">Inicio</a></li>
    <li><a href=" {% url 'portfolio' %}">Portfolio</a></li>
    <li><a href=""></a></li>
  </ul>
  <ul>
    <li>
      <a href="https://www.instagram.com/tnlcomputer/" target="_blank"
        >Instagram</a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/jorgegustavomartinez/"
        target="_blank"
        >Linkedin</a
      >
    </li>
    <li>
      <a href="https://www.facebook.com/TNLCOMPUTER/" target="_blank"
        >Facebook</a
      >
    </li>
    <li>
      <a href="https://twitter.com/tnlcomputer" target="_blank">Twitter</a>
    </li>
  </ul>
</footer>
