{% extends 'layouts/base.html' %}
<span></span>
{% block 'title' %} Crear Contacto {% endblock 'title' %}
<span></span>
{% block 'styles' %}
<span></span>
{% load static %}
<link rel="stylesheet" href=" {% static 'css/forms.css'%}" />
{% endblock 'styles' %}
<span></span>
{% block 'content' %}
<h1>Contacto</h1>
<span class="aux-btn-form"><a href="{% url 'contact' %}">Ver atrás</a></span>
<form action=" {% url 'contact_create' %}" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <div class="btn-wrapper">
    <input class="btn-send" type="submit" value="Enviar" />
  </div>
</form>

{% endblock 'content' %}
