{% extends 'layouts/base.html' %}

<p></p>
{% block 'title' %} Contacto {{ contact.name}} {% endblock 'title' %}
<span></span>
{% block 'content' %}
<h1>Contacto</h1>

<span class="aux-btn"><a href="{% url 'contact' %}">Ver atrás</a></span>
<ul class="list">
  <li><b>Nombre:</b>{{ contact.name}}</li>
  <li><b>Apellido:</b>{{ contact.last_name}}</li>
  <li><b>Telefono:</b>{{ contact.phone}}</li>
  <li><b>Celular:</b>{{ contact.mobile}}</li>
  <li><b>Email:</b>{{ contact.email }}</li>
  <li><b>Compañía:</b>{{ contact.company }}</li>
  <li><b>Fecha de creación:</b>{{ contact.date}}</li>
  <li><b>Notas:</b>{{ contact.notes }}</li>
</ul>
{% endblock 'content' %}
