{% extends './layouts/base.html' %} {% load static %} {% block page_title %}
Inicio {% endblock %} {% block content %}
<h1>Jorge Gustavo Martinez - Desarrollaron Full Stack</h1>
<div class="about">
  <img class="about-img" src=" {% static 'img/foto.png' %}" />
  <div class="about-content">
    <h3>Lorem ipsum dolor sit amet</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit itaque
      iusto, repellat architecto ut eos? Vitae ipsum nulla facilis sit, debitis
    </p>
  </div>
</div>
{% endblock %}
