{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    {% block styles %}{% endblock styles %}
    <title>{% block page_title %}{% endblock page_title %}</title>
  </head>
  <body>
    {% include 'layouts/partials/menu.html' %}
    <main>{% block content %} {% endblock %}</main>
    <footer>{% include 'layouts/partials/footer.html' %}</footer>
    {% block scrips %}{% endblock scrips %}
  </body>
</html>
